.win-line {
	position: absolute;
	width: 0;
	height: 8px;
	opacity: 0;
	background: $color-white;
	transition: width $durr, opacity $durr;
}

// .win-line--active {
// 	width: 90%;
// 	opacity: 1;
// 	background: $color-white;
// }

// win roll 1
.win-line--win-row-1 {
	top: 15%;
	left: 5%;
	background-color: $color-white;
}

.win-line--win-row-1-active {
	width: 90%;
	box-shadow: $box-shadow;
	opacity: 1;
}

// win row 2
.win-line--win-row-2 {
	top: 48%;
	left: 5%;
	background-color: $color-white;
}

.win-line--win-row-2-active {
	width: 90%;
	box-shadow: $box-shadow;
	opacity: 1;
}

///////////////////////////////////////////////////////////
.win-line--win-row-2 {
	top: 48%;
	left: 5%;
}

.win-line--win-row-3 {
	top: 82%;
	left: 5%;
}

.win-line--win-col-1,
.win-line--win-col-2,
.win-line--win-col-3 {
	top: 48%;
	transform: rotate(90deg);
}
.win-line--win-col-1 {
	right: 38%;
}
.win-line--win-col-2 {
	right: 5%;
}
.win-line--win-col-3 {
	left: 38%;
}

.win-line--win-diag-1 {
	top: 48%;
	left: -16%;
	width: 130%;
	transform: rotate(45deg);
}
.win-line--win-diag-2 {
	top: 48%;
	left: -16%;
	width: 130%;
	transform: rotate(135deg);
}
